#taxonomy-order ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

#taxonomy-order li {
	background: white;
	padding: .2em .4em;
	cursor: move;
}

#taxonomy-order li + li {
	border-top: 1px solid #EEEEEE;
}

#taxonomy-order li:nth-child(2n) {
	background-color:#FBFBFB;
}

#taxonomy-order li:hover {
	background: #f2f8ff;
}

#taxonomy-order .form-actions {
	background-color: #E8E8E8;
	border-top:1px solid #CFCFCF;
	padding: 20px;
	text-align: center;
}
